<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="mainbody">
    {% include "navbar.html"  %}
    <br>
<div class="container-fluid">
   <div class="row">
    <br><br>
     <div class="col-md-6">
        <h1 id="heading">About Me</h1>
    </div>
    <div class="col-md-6"></div>
   </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
         <br><br><br><br>
         <h2 id="paragraph">
        I’m a computer science sophomore who’s interested in AI 
        and Software Engineering stuffs. I’m also interested  in 
        Japanese Culture stuffs. Currently studying at Universitas Indonesia. I consider myself as hardworking 
        and resilient person. Aspired to become lifelong-learner 
        and AI Engineer
         </p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <img  class="img-fluid" src='{% static "picts/profpic.png" %%}'>
    <div>
  </div>
</div>
</body>
{% include "footer.html"  %}
</html>


