<!DOCTYPE html>
<html lang="en">
<head>
  <title>Education</title>
   {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="mainbody">
    {% include "navbar.html"  %}
    <br>
    <div class="container-fluid">
        <div class="row">
        <br><br>
        <div class="col-md-6">
            <h1 id="heading">Education</h1>
        </div>
        <div class="col-md-6"></div>
        </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-3 col-xs-3 col-sm-3 col-md3-">
                <div class="circle"><h6 id="year">2006-2012</h6><h7 id="school">SDN Bantarjati 5</h7></div>
            </div>
            <div class="col-3 col-xs-3 col-sm-3 col-md3-">
                <div class="circle"><h6 id="year">2012-2015</h6><h7 id="school">SMP Negeri 8 Bogor</h7></div>
            </div>
            <div class="col-3 col-xs-3 col-sm-3 col-md3-">
                <div class="circle"><h6 id="year">2015-2018</h6><h7 id="school">SMA Negeri 3 Bogor</h7></div>
            </div>
            <div class="col-3 col-xs-3 col-sm-3 col-md3-">
                <div class="circle"><h6 id="year">2018-Now</h6><h7 id="school">Universitas Indonesia</h7></div>
            </div>
        </div>
    </div>

</body>
{% include "footer.html"  %}

</html>