<!DOCTYPE html>
<html lang="en">
<head>>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-center fixed-bottom">
  <div class="container-fluid text-center">
      <ul class="nav navbar-nav ml-auto mx-auto">
        <li class="nav-item">
             <a href="mailto:krisnaihsani@gmail.com" class="nav-link">
                <img src="{% static 'picts/gmail-logo.png'%}" id="gmail">
             </a>
         </li>
        <li class="nav-item">
              <a href="github.com/codefire53" class="nav-link">
                    <img src="{% static 'picts/github-sign.png'%}" id="github">
             </a>
        </li>
        <li class="nav-item">
                <a href="https://www.linkedin.com/in/mahardika-krisna-ihsani-8724a0166/" class="nav-link">
                    <img src="{% static 'picts/linkedin-logo.png'%}" id="linkedin">
                 </a>
        </li>
      </ul>
        <p id="copyright">Mahardika Krisna Ihsani © 2019</p>
    </div>
</nav>