<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
  <title>Education</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href='{% static "style.css" %%}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="mainbody">
    {% include "navbar.html"  %}
    <br>
    <div class="container-fluid">
        <div class="row">
        <br><br>
        <div class="col-md-6">
            <h1 id="heading">Projects</h1>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="container-fluid ">
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <h4>Aegis Bot (December 2018-January 2019)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="paragraph">Multifunctional LINE bot. Created using python for Foundation of Programming Final Assignment</p>
            </div>
        </div>
    </div>
{% include "footer.html"  %}